
@{
    Layout = null;
}
<style type="text/css">
    body {
        font-family: 'Lato', sans-serif;
        background: url('../../scripts/image/plan-page.jpg');
        font-size: 16px;
        width: 1180px;
        margin: 0 auto;
    }


    section {
        display: flex;
        justify-content: center;
    }


    article {
        background: #262626;
        display: inline-block;
        margin: 80px 20px 0 20px;
        border: 5px solid #424242;
        color: #a1a1a1;
        padding: 20px;
        text-align: center;
        width: 300px;
    }


    article h1 {
            font-size: 1.5em;
            color: #FFF;
            margin-bottom: 20px;
    }


    .price {
        font-size: 3em;
        font-weight: bold;
        color: #27dcc4;
        margin: 20px 0;
    }


    ul {
        padding: 0;
        margin: 0;
    }


    li {
        list-style-type: none;
        padding: 5px 0;
    }


    button {
        background: #27dcc4;
        color: #FFF;
        padding: 15px 30px;
        margin: 10px 0;
        font-size: 0.9em;
        cursor: pointer;
        border: none;
    }

    button:hover {
            background: #ACACAC;
    }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <section>
        <article>
            <h1>Inspection</h1>
            <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
            <p class="price">$300.00</p>
            <ul>
                <li>Auto Product Liability</li>
                <li>Crib Recall</li>
                <li>Defective Airbags</li>
                <li>Defective Medical Device</li>
                <li>Food Poisoning</li>
            </ul>
            <button>Contact me</button>
        </article>

        <article>
            <h1>Diagnostic</h1>
            <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
            <p class="price">$400.00</p>
            <ul>
                <li>Auto Product Liability</li>
                <li>Crib Recall</li>
                <li>Defective Airbags</li>
                <li>Defective Medical Device</li>
                <li>Food Poisoning</li>
            </ul>
            <button>Contact me</button>
        </article>

        <article>
            <h1>Upgrades</h1>
            <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
            <p class="price">$500.00</p>
            <ul>
                <li>Auto Product Liability</li>
                <li>Crib Recall</li>
                <li>Defective Airbags</li>
                <li>Defective Medical Device</li>
                <li>Food Poisoning</li>
            </ul>
            <button>Contact me</button>
        </article>
    </section>
</body>
</html>
